pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo/
.lsp/
.calva/

## moclojer
/moclojer
!test/moclojer/resources/
!.devcontainer
moclojer.yaml
moclojer.yml
moclojer.edn
moclojer.json
*.org
.socket-repl-port
upload-filesystem/
META-INF/*-native-image-args
