pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo/
.lsp/
.calva/

## moclojer
./moclojer
moclojer.build_artifacts.txt
moclojer.core
moclojer.core.build_artifacts.txt
*.yaml
*.yml
