name: Build jar

on:
  pull_request:
  workflow_call:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write
  discussions: write

jobs:
  build-jar:
    runs-on: "ubuntu-20.04"
    steps:
    - uses: "actions/checkout@v4"
    - uses: "actions/cache@v4.0.2"
      with:
        path: |
          ~/.m2/repository
          ~/.gitlibs
        key: "${{ runner.os }}-deps-${{ hashFiles('deps.edn') }}"
    - uses: "DeLaGuardo/setup-clojure@12.5"
      with:
        cli: "1.11.1.1139"
        github-token: "${{ secrets.GITHUB_TOKEN }}"
    - run: "clojure -M:dev --report stderr -m com.moclojer.build --uberjar"
      env:
        CI_COMMIT_SHA: "${{ github.sha }}"

    # for relase (prefix `v*`)
    - name: set env release name
      if: github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v')
      run: echo "RELEASE_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
    - uses: softprops/action-gh-release@master
      if: github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v')
      with:
        name: ${{ github.ref_name }}
        discussion_category_name: announcements
        body_path: ${{ github.workspace }}/docs/releases/${{ env.RELEASE_NAME }}.md
        files: target/moclojer.jar
