on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DavidAnson/markdownlint-cli2-action@v18
      with:
        fix: true
        config: .markdownlint.yml
        globs: "docs/*.md"
